.dropdown-menu {
    width:300px;
    position:absolute;
    top: 88px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li {
    background:rgba(255, 255, 255, 0);
    color: black;
    cursor:pointer;
}

.dropdown-menu li:hover {

}

.dropdown-menu.clicked {
    display:none;
}

.dropdown-link {
    display:block;
    width:100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}